[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "transcriptogramer"]
	path = transcriptogramer
	url = https://github.com/arthurvinx/transcriptogramer
